<!DOCTYPE html>
<html>
	<head>
		<title>LoungeChat2</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<header class="topbar row">
			<img src="http://img2.meetupstatic.com/906521611995523788/img/header/logo.png" height="30px">
			<h1 style="line-height: 35px;">
				LoungeChat
			</h1>
			<% if current_user %>
				<aside class="user_info">
					Welcome <strong><%=  current_user.name %></strong>,
					<%= link_to "Sign Out", signout_path %>
				</aside>
			<% end %>
		</header>
		<% unless current_user %>
			<%= yield %>
		<% else %>
			<div class="container_12">
				<%= yield %>
			</div>
		<% end %>
		<script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
	</body>
</html>
