# encoding: utf-8
<!DOCTYPE html>
<html>
	<head>
		<title>LoungeChat</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<header class="topbar row">
			<img src="http://img2.meetupstatic.com/906521611995523788/img/header/logo.png" height="30px">
			<h1 style="line-height: 35px;">
				LoungeChat
			</h1>
			<% if current_user %>
				<aside class="user_info">
					Welcome <strong><%=  current_user.name %></strong>,
					<%= link_to "Sign Out", signout_path %>
				</aside>
			<% end %>
		</header>
		<a href="https://github.com/StefanWallin/loungeChat/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

		<% unless current_user %>
			<%= yield %>
		<% else %>
			<div class="container_12">
				<%= yield %>
			</div>
		<% end %>
	</body>
</html>
