# encoding: utf-8
<!DOCTYPE html>
<html>
	<head>
		<title>LoungeChat</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<header class="topbar row">
			<img src="http://img2.meetupstatic.com/906521611995523788/img/header/logo.png" height="30px">
			<h1 style="line-height: 35px;">
				LoungeChat
			</h1>
		</header>
		<a href="https://github.com/StefanWallin/loungeChat/" data-bind="css: { hidden: !settingsDialogHidden() }"><img style="position: absolute; top: 0; right: 0; border: 0;" src="assets/pullrequests_welcome.png" alt="Pullrequests Welcome!"></a>
		<% if current_user %>
			<menu class="settings">
				<span class="settings-handle" data-bind="click: toggleSettingsDialog, css: { active: !settingsDialogHidden()}">&#9881;</span>
				<ul class="settings-content" data-bind="css: { hidden: settingsDialogHidden }">
<!-- 					<li>
						<label for="desktop_notif">
							Desktop notifications: <input id="desktop_notif" class="setting" type="checkbox" data-bind="">
						</label>
					</li>
 -->					<li>
						<label for="flash_title_notif">
							Title flashing notification: <input id="flash_title_notif" class="setting" type="checkbox" data-bind="checked: setting_flashTitle">
						</label>
					</li>
<!-- 					<li>
						<label for="audio_notif">
							Audio notifications: <input id="audio_notif" class="setting" type="checkbox" data-bind="checked: setting_audio_notif">
						</label>
					</li> -->
					<li><%= link_to "Sign Out", signout_path %></li>
				</ul>
			</menu>
		<% end %>
		<% unless current_user %>
			<%= yield %>
		<% else %>
			<div class="container_12">
				<%= yield %>
			</div>
		<% end %>
	</body>
</html>
